#save-canvas { color: #3498db; }
#pencil { color: #2ecc71; }
#eraser { color: #e74c3c; }
#clear { color: #e74c3c; }
#undo { color: #3498db; }
#redo { color: #3498db; }
#color-picker i { color: #f39c12; }
#thickness-slider i { color: #9b59b6; }
#eraser-size-slider i { color: #e74c3c; }
